main {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: calc(2 * var(--fs));
}

div.gridD {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--fs);
}

div.gridD a { 
    position: relative;
    aspect-ratio: 1/1;
    padding: var(--fs);
    width: calc(15 * var(--fs));

    border-radius: var(--fs);
    background-color: #9DFF0055;
    color: black;
}

div.gridD a div.title { 
    font-weight: 900;
    font-size: calc(1.5 * var(--fs));
}

div.gridD a div.count { 
    font-weight: 500;
    font-size: calc(1 * var(--fs));
}

div.gridD a div.arrow {
    position: absolute;
    font-weight: 700;
    font-size: calc(1.5 * var(--fs));
    right: var(--fs);
    bottom: var(--fs);
}