main {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: calc(2 * var(--fs));
}

div.gridD {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--fs);
}

div.gridD a { 
    position: relative;
    aspect-ratio: 1/1;
    padding: var(--fs);
    width: calc(15 * var(--fs));

    border-radius: var(--fs);
    background-color: var(--thm-tc);
    color: var(--txt-c);
}

div.gridD a div.title { 
    font-weight: 900;
    font-size: calc(1.5 * var(--fs));
}

div.gridD a div.count { 
    font-weight: 500;
    font-size: calc(1 * var(--fs));
}

div.gridD a div.arrow {
    position: absolute;
    font-weight: 700;
    font-size: calc(1.5 * var(--fs));
    right: var(--fs);
    bottom: var(--fs);
}

@media screen and (max-width: 800px) {
    div.gridD {
        padding-top: var(--fs);
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
    div.gridD a { 
        scroll-snap-align: center;
        width: 100%;
        box-sizing: border-box;
    }
}