main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    box-sizing: border-box;
}

div.gridD {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    gap: var(--fs);

    width: 100%;
    height: 100%;
    padding-top: calc((100vh - 21*var(--fs))/2);
    padding-bottom: calc((100vh - 21*var(--fs))/2);
    justify-content: center;
    position: relative;
}

div.gridD > * { 
    position: relative;
    padding: var(--fs);
    height: calc(15 * var(--fs));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: var(--fs);
    color: var(--txt-c);
}

/* Options */

div.gridD form.options {
    width: calc(47*var(--fs));
    border: 2px var(--thm-c) solid;
    grid-column-end: 3;
    display: flex;
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--fs);
        gap: calc(2 * var(--fs));
        width: 100%;
        box-sizing: border-box;
    
        font-weight: 700;
        font-size: calc(1.5 * var(--fs));
    
        border-bottom: 2px var(--thm-c) solid;
        
        label {
            display: flex;
            justify-content: center;
            gap: calc(0.5 * var(--fs));
            
            input {
                aspect-ratio: 1/1;
                width: calc(1 * var(--fs));
                accent-color: var(--thm-c);
                font-size: calc(1.5 * var(--fs));
            }
        }
    }
    div:nth-child(3) {
        border-bottom: none;
    }
    
    input#done {
        width: 100%;
        padding: calc(0.5 * var(--fs));
        
        font-weight: 700;
        font-size: calc(1.5 * var(--fs));
        text-align: center;
        
        outline: none;
        border: none;
        background-color: var(--thm-c);
        color: var(--bg-c);
    }
}

/* Ing */

div.gridD div.problem {
    aspect-ratio: 2/1;
    border: 2px var(--thm-c) solid;
    
    div.prob { 
        font-weight: 700;
        font-size: calc(1.5 * var(--fs));
        span.corrAns {
            color: var(--bg-c);
            background-color: var(--thm-c);
        }
    }
    div.mean { 
        font-weight: 500;
        font-size: calc(1 * var(--fs));
        text-align: center;
        width: 100%;
    }
}

div.gridD div.ans {
    aspect-ratio: 1/1;
    background-color: var(--thm-tc);
    gap: var(--fs);
    
    form#ansForm {
        display: flex;
        flex-direction: column;
        gap: var(--fs);
    }
    div.guide { 
        font-weight: 900;
        font-size: calc(1.5 * var(--fs));
        text-align: left;
        width: 100%;
    }
    input#ans { 
        background-color: white;
        outline: none;
        border: none;
        padding: calc(0.5 * var(--fs));
        border-bottom: var(--thm-c) 2px solid;
        width: 100%;
        box-sizing: border-box;
        
        font-weight: 700;
        font-size: calc(1 * var(--fs));
        text-align: center;
    }
    input#ans.correct { 
        background-color: var(--txt-c);
        color: var(--o-c);
    }
    
    input#ans.wrong { 
        background-color: var(--txt-c);
        color:var(--x-c);
    }
    input#done, button#continue {
        width: 100%;
        padding: calc(0.5 * var(--fs));
        
        font-weight: 700;
        font-size: calc(1.5 * var(--fs));
        text-align: center;
        
        outline: none;
        border: none;
        background-color: var(--thm-c);
        color: var(--bg-c);
    }
}

div.gridD div#progress {
    position: absolute;
    height: fit-content;
    width: max-content;
    display: flex;
    flex-direction: row;

    font-size: calc(1.5 * var(--fs));
    font-weight: 700;

    top: 0;
    right: 50%;
    transform: translate(50%, calc((100vh - 21* var(--fs))/4 - 50%));

    span {
        background-color: var(--txt-c);
    }
    span.corrCnt {
        background-color: var(--o-tc);
    }
    span.wrongCnt {
        background-color: var(--x-tc);
    }
    span.leftCnt {
        background-color: var(--txt-tc);
    }
}

/* Result */

div.gridD div.cnt {
    aspect-ratio: 1/1;
    background-color: var(--thm-tc);
    gap: var(--fs);
    font-weight: 700;
    font-size: calc(1.5 * var(--fs));
    position: sticky;
    top: calc((100vh - 17*var(--fs))/2);

    div {
        padding: calc(0.5 * var(--fs));
        width: 100%;
        box-sizing: border-box;
    }
    div.correct {
        background-color: var(--o-tc);
    }
    div.wrong {
        background-color: var(--x-tc);
    }
    button, a {
        box-sizing: border-box;
        width: 100%;
        padding: calc(0.5 * var(--fs));
        
        font-weight: 700;
        font-size: calc(1.5 * var(--fs));
        text-align: center;
        
        outline: none;
        border: none;
        background-color: var(--thm-c);
        color: var(--bg-c);
    }
}

div.gridD div.list {
    border: 2px var(--thm-c) solid;
    width: calc(30* var(--fs));
    height: fit-content;

    table {
        width: 100%;
    }
    table .Head td {
        font-size: calc(1 * var(--fs));
        font-weight: 700;
        padding: calc(0.5 * var(--fs));
    }
    table .Head.legends {
        background-color: var(--txt-tc);
    }
    table .Head.correct {
        background-color: var(--o-tc);
    }
    table .Head.wrong {
        background-color: var(--x-tc);
    }

    table .Li td {
        font-size: calc(1 * var(--fs));
        font-weight: 500;    
        padding: calc(0.5 * var(--fs));
    }
    table .Li.correct td {
        border-bottom: 2px var(--o-c) solid;
    }
    table .Li.wrong td {
        border-bottom: 2px var(--x-c) solid;
    }
    table .Li.last td {
        border-bottom: none;
    }
}

@media screen and (max-width: 800px) {
    div.gridD {
        padding: var(--fs);
        width: 100vw;

        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto;
    }
    
    div.gridD > * {
        aspect-ratio: unset;
        width: 100% !important;
        height: fit-content;
        
        grid-column-start: 1;
        grid-column-end: 3;
        box-sizing: border-box;
    }
    
    /* Options */
    div.gridD form.options {
        aspect-ratio: 1/1;
        grid-row-start: 1;
        grid-row-end: 4;
        justify-content: space-evenly;
        div {
            flex-direction: column;
            gap: var(--fs);
            border-bottom: none;
            background-color: var(--thm-tc);
        }
    }

    /* Ing */

    div.gridD div.problem {
        aspect-ratio: 4/1;
    }

    div.gridD div.ans {
        aspect-ratio: unset;
        form#ansForm {
            width: 100%;
            height: max-content;
        }
    } 

    div.gridD div#progress {
        position: relative;
        top: unset;
        right: unset;
        transform: none;
        height: fit-content;
    }

    /* Results */

    div.gridD div.cnt {
        position: relative;
        top: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: unset;
        
        div{
            text-align: center;
        }
    }
}